

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>
        Recipe-App Home
      </title>
    <meta name="viewport" content="width=device-width, inital-scale=1">
  {% load static %}
  
    <style type="text/css">
    body {
      background: url("{% static 'recipes/images/recipe_welcome.jpeg' %}") no-repeat fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30vh;
    }
      img {
      border-radius: 15px;
    }

    </style>
  </head>
  

<body>
    <h1 style="text-align:center">Welcome to the Recipe App</h1>   
</body>

</html>