<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipeApp Logout</title>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles.css' %}">
  <style type="text/css">
    body {
      background: url("{% static 'recipes/images/recipe_welcome.jpeg' %}") no-repeat fixed;
      background-size: cover;
    }

    a {
      margin-left: 10px;
    }
  </style>
</head>

<body>
  <div class="auth_modal" style="width: 25%">
    <h2 style="border: 2px solid green;
               border-radius: 10px;
               padding: 10px;
               background-color: rgb(161, 241, 161);
               color: rgb(14, 59, 14)">You've successfully logged out!</h2>
    <br>
    <a class="login_btn" href="{%url 'login' %}">Login</a>
    <a class="back_btn" href="{%url 'recipes:home' %}">Home</a>
  </div>
</body>
  
</html>
