.recipe_images {
  width: 250px;
  height: 160px;
  border-radius: 6px;
  margin: 0 auto;
}

.details_modal {
  width: 55%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 10px 15px;
  margin: 0 auto;
  margin-top: 23vh;
  font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
}

.body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.details_body {
  display: flex;
}

.details_short,
.details_long {
    padding: 8px;
}

.login_btn,
.logout_btn,
.back_btn {
    width: 70px;
    font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgb(255, 116, 32);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.auth_modal {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 10px 15px;
  margin: 10px auto;
  margin-top: 23vh;
  font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
}

#error_login {
  margin: 0 auto;
  border: 3px solid rgb(243, 0, 0);
  background-color: rgb(255, 116, 32);
  padding: 10px;
  border-radius: 10px;
}

.form_input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_data {
  color: white;
}

